<% @title = @club.name + " Settings" %>
<div class="container">
    <div id="club_admin">
        <% if @club.memberships.find_by_user_id(current_user.id).admin == false then %>
        
            <p>You are not an admin of this book club.</p>
            <%= link_to "Go back to club page", @club %>
            
            <% else %>
            
            <h1>Admin control page</h1>
            <br>
            <p>This is where you can start new books and edit club settings and members.</p>
            <br><br>
            
            <%= button_to "Add book", new_club_book_path(:club_id => @club.id), :method => :get %>
            
            <br><br> 
            
            <h1>Members</h1>
            
        <% end %>
    </div>
</div>