<div class="fluid-container">
    <div id="my_clubs">
        <h1>My Clubs</h1>
        <% memberships = current_user.memberships %>
        
        <% if memberships.count == 0 %>
            <p>Looks like you aren't a member of any clubs yet.</p>
        <% end %>
        
        <div class="row">
            <% memberships.each do |m| %>
            <% club = current_user.clubs.find(m.club_id) %>
                <% if m.admin == true then %>
                <div class="col-lg-4 col-md-4">
                    <h3><%= link_to club.name, club  %></h3>
                    <p><strong>Admin</strong></p>
                </div>
                
                <% elsif m.admin == false then %>
                <div class="col-lg-4 col-md-4">
                    <h3><%= link_to club.name, club  %></h3>
                    <p><strong>Member</strong></p>
                    <h5>Club Description:</h5>
                    <p><%= club.description %></p>
                </div>
                <% end %>
            <% end %>
        </div>
    </div>
</div>
