<% @title = "My Clubs" %>
<div class="fluid-container">
    <div id="my_clubs">
        <h1>My Clubs</h1>
        <% memberships = current_user.memberships %>
        
        <% if memberships.count == 0 %>
            <p>Looks like you aren't a member of any clubs yet.</p>
        <% end %>
        
        <div class="row">
            <% memberships.each do |m| %>
            <% club = current_user.clubs.find(m.club_id) %>
                <div class="col-lg-4 col-md-4">
                    <h3><%= link_to club.name, club  %></h3>
                    <% if m.admin == true then %>
                        <p><strong>You are an admin</strong></p>
                    <% end %>
                    <p>Members: <%= club.memberships.count %></p>
                </div>
            <% end %>
        </div>
    </div>
</div>
