<div class="container">
    <div class="row">
        <div class="col-lg-2 col-md-3 col-sm-4 text-center">
            <h1><%= @club.name %></h1>
            <!-- club image -->
            <img src="https://dummyimage.com/100%20x%20100/000/fff">
        </div>
        <div class="col-lg-8 col-md-6 col-sm-8 text-center">
            <h1>Current Book:</h1>
            <img src="https://dummyimage.com/200%20x%20200/000/fff">
        </div>
        <div class="col-lg-2 col-md-3 col-sm-12 text-center">
            <h3>Members:</h3>
        </div>
    </div>
</div>