<% @title = @club.name + " announcements" %>
<br>
<div class="container">
    <h1 class="text-center">Announcements</h1>
    <br>
    <div class="row">
        <% if @announcements.any? %>
            <% @announcements.each do |a| %>
                <div class="jumbotron">
                        <p class="text-muted">
                            <%= a.user.username %>
                            <br>
                            <%= time_ago_in_words(a.created_at) %>
                        </p>
                        <h2><%= a.subject %></h2>
                        <p class="lead"><%= a.body %></p>
                </div>
            <% end %>
            <% else %>
                <div class="jumbotron">
                    <h2>There are no announcements.</h2>
                </div>
        <% end %>
    </div>
</div>
