<h1>Welcome home.</h1>

<%= image_tag(current_user.avatar.url(:thumb)) %>

<br><br><br><br><br><br><br>
<h3>This is where featured readings and featured public clubs would go.</h3>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<h1>just wasting space.</h1>