<div class="fluid-container text-center">

    <h1>Welcome home.</h1>
    
    <% if current_user %>
        <%= image_tag(current_user.avatar.url(:thumb)) %>
    <% end %>
    
    <br><br><br><br><br><br><br>
    <h3>This is where featured readings and featured public clubs would go.</h3>
    
</div>