@import 'normalize';

.navbar-fixed-top {
    font-family: 'Exo', Arial, sans-serif;
    font-weight: 700;
}

.navbar-toggle .icon-bar {
    background: #537D8D;
}

.navbar li a {
    margin-right: 40px !important;
}

.navbar-collapse {
    background: white;
    border-bottom:  #537D8D 1px solid;
    margin-right: -15px !important;
    margin-left: -15px !important;
}

.navbar-header {
    border-bottom:  #537D8D 1px solid;
    margin-right: -15px !important;
    margin-left: -15px !important;
}

.dropdown-menu li a {
    font-weight: 700 !important;
    color: #337ab7 !important;
}

.dropdown-menu .btn {
    font-weight: 700 !important;
    color: #337ab7 !important;
    margin-left: 2px;
}

.fluid-container {
    font-family: 'Lato', serif;
}

.navigation {
    background: #454A5B;
    padding-bottom: 85px;
    font-weight: 700;
}

.navbar-brand {
    padding: 15px 50px !important;
}
.brand {
    background: #537D8D;
    color: white;

    &:hover {
        color: #DAF5FF;
    }
}

.new_club {
    #club_name {
        input {
            width: 390px;
            height: 30px;
        }
    }
    textarea {
        width: 530px;
        height: 200px;
    }
}

.devise_alerts {
    padding-top:20px;
    text-align: center;
    font-size: 1.5em;
}

.registration {
    text-align: center;
    input {
        width: 250px;
        height: 35px;
        font-size: 1.1em;
    }
    .checkbox {
        input {
            width: 18px;
            height: 18px;
        }
    }
}

.user-thumb {
    height: 100px;
    width: 100px;
    border-radius: 100%;
}

#sign_in {
    text-align: center;
}

#my_clubs {
    text-align: center;
}

#club_admin {
    text-align: center;
}