/*font-family: 'Roboto Slab', serif;*/
/*font-family: 'Raleway', sans-serif;*/
@import 'normalize';

.navbar-fixed-top {
    font-family: 'Droid Serif', serif;
}

.fluid-container {
    font-family: 'Lato', serif;
}

.navigation {
    background: #e0e0e0;
    padding-bottom: 85px;
    border: 1px solid #d9d9d9;
}

.new_club {
    #club_name {
        input {
            width: 390px;
            height: 30px;
        }
    }
    textarea {
        width: 530px;
        height: 200px;
    }
}

.devise_alerts {
    padding-top:20px;
    text-align: center;
    font-size: 1.5em;
}

.registration {
    text-align: center;
    input {
        width: 250px;
        height: 35px;
        font-size: 1.1em;
    }
    .checkbox {
        input {
            width: 18px;
            height: 18px;
        }
    }
}

#sign_in {
    text-align: center;
}

#my_clubs {
    text-align: center;
}

#club_admin {
    text-align: center;
}